{% extends 'base.html' %}

{% block title %} Topic {% endblock %}

{% block header %}
   <h2>{{ topic }}</h2>
{% endblock header %}

{% block content %}
<p>
    <a href="{% url 'learning_logs:new_entry' id=topic.id %}" class="btn btn-primary">Add a new entry</a>
</p>

{% for entry in entries %}
    <div class="card border mb-3">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="card-title m-0">{{ entry.date_added|date:'M d, Y H:i' }}</h3>
                <small class="text-muted">
                    <a href="{% url 'learning_logs:edit_entry' id=entry.id %}" class="me-2">edit entry</a>
                    <a href="{% url 'learning_logs:delete_entry' id=entry.id %}" class="text-danger" onclick="return confirm('Are you sure you want to delete this item?');">delete entry</a>
                </small>
        </div>
        <div class="card-body">
            {{ entry.text|safe|linebreaks }}
        </div>
    </div>
    {% empty %}
        <p class="text-center">There are no entries for this topic yet.</p>
    {% endfor %}

{% endblock %}
